.title-level{
    text-align: center;
}

h1{
    text-align: center;
}

.game-box{
    margin: auto;
    width: 50%; 
    max-width: 250px;   
}

.game-boxL2{
    margin: auto;
    width: 100%; 
    max-width: 400px;   
}

.levels-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.levels{
    margin: 2%;
    height: 100px;
    width: 100px;
    color: black;
    border-radius: 25px;
    border-style: none;
}

.levels:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

@media screen and (max-width: 500px) {
    .game-box{
        margin: auto;
        width: 100%;
    }

}

@media screen and (max-width: 380px){
    .game-boxL2{
        margin: auto;
        width: 100%;
        max-width: 300px;
    }
}

#shapes{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    flex-wrap: wrap;
    gap:20px;
    border-radius: 15px;
}

#shapesL2{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    flex-wrap: wrap;
    gap:10px;
    border-radius: 15px;
}

.button-box{
    position: relative;
    background-color: white;
    border-radius: 25px;
    height: 100px;
    width: 100px;
    margin: 2%;
}

.square{
    margin: 2%;
    background-color: black;
    height: 100px;
    width: 100px;
    color: black;
    border-radius: 25px;
    border-style: none;
}

.squareL2{
    margin: 2%;
    background-color: black;
    height: 100px;
    width: 100px;
    color: black;
    border-radius: 25px;
    border-style: none;
}

.square:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.square:active{
    transform: scale(0.9);

}

.squareL2:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.squareL2:active{
    transform: scale(0.9);

}

@media screen and (max-width: 380px){
    .squareL2{
        margin: 1%;
        background-color: black;
        height: 80px;
        width: 80px;
        color: black;
        border-radius: 25px;
        border-style: none;
    }

    .button-box{
        position: relative;
        background-color: white;
        border-radius: 25px;
        height: 79px;
        width: 79px;
        margin: 1%;
    }
}

#shape1{
    visibility: visible;
    background-color: red;
}

#shape2{
    visibility: visible;
    background-color: blue;
}

#shape3{
    visibility: visible;
    background-color: green;
}

#shape4{
    visibility: visible;
    background-color: yellow;
}

#shapeX1{
    visibility: visible;
    background-color: red;
}

#shapeX2{
    visibility: visible;
    background-color: orange;
}
#shapeX3{
    visibility: visible;
    background-color: yellow;
}
#shapeX4{
    visibility: visible;
    background-color: #00FF00;
}
#shapeX5{
    visibility: visible;
    background-color: green;
    color: white;
}
#shapeX6{
    visibility: visible;
    background-color: cyan;
}
#shapeX7{
    visibility: visible;
    background-color: darkblue;
    color: white;
}
#shapeX8{
    visibility: visible;
    background-color: purple;
    color: white;
}
#shapeX9{
    visibility: visible;
    background-color: magenta;
}

#scoreBoard{
    text-align: center;
    font-weight: bold;
}

#scoreBoardL2{
    text-align: center;
    font-weight: bold;
}

#how-to-play-row{
    text-align: center;
}

#startBtn{
    display:block;
    margin: auto;
}

#startBtnL2{
    display:block;
    margin: auto;
}