.title-level{
    text-align: center;
}

.game-box{
    margin: auto;
    width: 50%; 
    max-width: 250px;   
}

@media screen and (max-width: 500px) {
    .game-box{
        margin: auto;
        width: 100%;
    }
}

#shapes{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    flex-wrap: wrap;
    gap:20px;
    border-radius: 15px;
}

.button-box{
    position: relative;
    background-color: white;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    margin: 2%;
}

.square{
    margin: 2%;
    background-color: black;
    height: 100px;
    width: 100px;
    color: black;
    border-radius: 15px;
    border-style: none;
}

.square:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.square:active{
    transform: scale(0.9);

}

#shape1{
    visibility: hidden;
    background-color: red;
}

#shape2{
    visibility: hidden;
    background-color: blue;
}

#shape3{
    visibility: hidden;
    background-color: green;
}

#shape4{
    visibility: hidden;
    background-color: yellow;
}

#startBtn{
    display:block;
    margin: auto;
}